<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 adUpload_Box">
        <h1 class="h1Text">Įdėti skelbimą</h1>
        <v-form ref="form">
          <div class="pictureUploadWrapper">
            <div
              v-for="(image, index) in images"
              :key="index"
              class="pictureUpload"
            >
              <label :for="`picture-${index}`">
                <div @click="deleteImage(index, $event)" class="deleteImage">
                  <img src="../assets/img/delete.svg" />
                </div>
                <div>
                  <p>Įkelti nuotrauką</p>
                  <img src="../assets/img/plus.svg" /></div
              ></label>

              <input
                @change="processFile($event)"
                type="file"
                name="files"
                :id="`picture-` + index"
              />
            </div>
          </div>
          <p
            v-if="img.length === 0"
            style="font-size: 12px; padding-bottom: 5px;"
          >
            Reikalinga bent viena nuotrauka
          </p>
          <v-text-field
            class="inputStyling adUpload_Input"
            type="text"
            solo
            placeholder="Skelbimo antraštė"
            required
            :rules="empty"
            v-model="name"
          />
          <v-text-field
            class="inputStyling adUpload_Input "
            type="text"
            solo
            placeholder="Kategorija"
            required
            :rules="empty"
            v-model="category"
          />
          <v-textarea
            class="inputStyling adUpload_Input"
            type="text"
            rows="5"
            solo
            placeholder="Aprašymas"
            requiredasd
            :rules="empty"
            v-model="description"
          >
          </v-textarea>

          <v-text-field
            class="inputStyling adUpload_Input"
            type="text"
            solo
            placeholder="Kaina"
            v-model="price"
          />
          <v-text-field
            class="inputStyling adUpload_Input"
            type="text"
            solo
            placeholder="Video nuoroda"
            v-model="video"
          />
          <div class="userAgreement">
            <input required type="checkbox" id="userAgreementCheck" />
            <label for="userAgreementCheck"
              ><a href="#">Sutinku su puslapio naudojimosi politika</a>
            </label>
          </div>

          <v-btn class="formButton adUpload_Btn" type="submit" @click="submit"
            >Skelbti</v-btn
          >
        </v-form>
        <v-overlay :value="overlay">
          <v-progress-circular indeterminate size="64"></v-progress-circular>
        </v-overlay>
      </div>
    </div>
  </div>
</template>

<script>
import loggedin from "../mixins/loggedin";
import rules from "../mixins/rules";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "AdUpload",
  mixins: [loggedin, rules],
  data() {
    return {
      images: [{}],
      foto: "",
      img: [],
      video: "",
      description: "",
      price: "",
      category: "",
      name: "",
      overlay: false,
      otherClick: false,
      postid: "",
    };
  },
  created() {
    if (!this.user) {
      this.$router.push("/");
    }
  },
  methods: {
    ...mapActions(["post", "postImage", "getPosts", "postEdit"]),
    submit(e) {
      e.preventDefault();
      if (this.$refs.form.validate() && this.img.length > 0) {
        this.overlay = true;
        if (this.otherClick) {
          this.postEdit({
            name: this.name,
            category: this.category,
            description: this.description,
            price: this.price,
            video: this.video,
            list: this.img,
            id: this.postid,
          });
        } else {
          this.post({
            name: this.name,
            category: this.category,
            description: this.description,
            price: this.price,
            video: this.video,
            list: this.img,
          });
        }
        setTimeout(() => {
          this.overlay = false;
        }, 2000);
      }
    },

    deleteImage(index, event) {
      this.img.splice(index, 1);
      event.target.parentElement.parentElement.classList.remove(
        "activePicture"
      );
      event.target.parentElement.parentElement.style.backgroundImage =
        "url('')";

      this.images.splice(index, 1);
      setTimeout(function() {
        event.target.parentElement.parentElement.nextSibling.disabled = false;
      }, 1000);
    },
    async processFile(event) {
      event.preventDefault();
      this.process(event).then((data) => {
        event.target.previousSibling.style.backgroundImage = `url('${data}')`;
        event.target.previousSibling.classList.add("activePicture");
        event.target.disabled = true;
        this.push({ img: `${data}` });
      });

      this.img.push(event.target.files[0]);
    },
    async push(data) {
      this.images.push(data);
    },
    process(event) {
      let foto = event.target.files[0];
      return new Promise((resolve) => {
        var reader = new FileReader();
        reader.onloadend = function() {
          resolve(reader.result);
        };
        reader.readAsDataURL(foto);
      });
    },
  },
  computed: mapGetters(["getPost"]),
  async mounted() {
    let url = await new URL(window.location.href);
    let edit = await url.searchParams.get("edit");
    if (edit > 0) {
      this.postid = edit;
      this.otherClick = true;
      await this.getPosts({ id: edit });
      console.log(this.getPost);
      this.video = this.getPost.video;
      this.price = this.getPost.price;
      this.description = this.getPost.description;
      this.category = this.getPost.category;
      this.name = this.getPost.name;
    }
  },
};
</script>
