<template>
  <div class="asideContainer">
    <div class="asideSubContainer">
      <AsideBox />
      <AsideBox />
      <AsideBox />
      <AsideBox />
      <AsideBox />
    </div>
  </div>
</template>

<script>
import AsideBox from "../components/AsideBox";
export default {
  name: "Aside",
  components: {
    AsideBox,
  },
};
</script>
