<template>
  <div class="container-fluid register">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="h1Text_Personal">
          Isimintini skelbimai
        </h1>

        <div class="searchPage-adColumn" style="padding:0; margin-top:30px;">
          <Advertisement />
          <Advertisement />
          <Advertisement />
          <Advertisement />
          <Advertisement />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Advertisement from "../components/Advertisement";
export default {
  name: "Favorites",
  components: {
    Advertisement,
  },
};
</script>

<style></style>
