<template>
  <footer>
    <div class="container">
      <div class="row footerBox" style="border-top:2px solid #e7e7e7">
        <div class="col-lg-6 footerLeft ">
          <p>2020 - 2020 © Visos teisės saugomos www.interjerogalerija.lt</p>
        </div>
        <div class="col-lg-2 footerLinks">
          <a href="#">Reklama</a>
          <p>|</p>
          <a href="#">Pagalba</a>
        </div>
        <div class="col-lg-4">
          <div class="footerIcons">
            <a href="#"
              ><img src="../assets/img/facebook.svg" alt="Facebook icon"
            /></a>
            <a href="#"
              ><img src="../assets/img/facebook.svg" alt="Facebook icon"
            /></a>
            <a href="#"
              ><img src="../assets/img/facebook.svg" alt="Facebook icon"
            /></a>
            <a href="#"
              ><img src="../assets/img/facebook.svg" alt="Facebook icon"
            /></a>
            <a href="#"
              ><img src="../assets/img/facebook.svg" alt="Facebook icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>
