<template>
  <div class="container-fluid register">
    <div class="row">
      <div class="col-lg-12">
        <h1>Prisijungimas</h1>
        <v-form ref="form" @submit="submit" class="register_inputs">
          <v-text-field
            v-model="email"
            class="inputStyling"
            type="text"
            solo
            placeholder="EL-Pašto adresas"
            required
            :rules="empty"
          />
          <v-text-field
            v-model="password"
            class="inputStyling"
            type="password"
            placeholder="Slaptažodis"
            solo
            required
            :rules="empty"
          />
          <transition name="bounce">
            <v-alert
              v-if="getError.length > 0"
              colored-border
              type="error"
              elevation="2"
            >
              {{ getError }}
            </v-alert>
          </transition>
          <a class="mb-3" style="margin-top: 10px;">Pamiršau slaptažodį</a>
          <v-btn class="formButton" type="submit">Prisijungti</v-btn>
        </v-form>
        <p style="margin-top: 10px;">Neturite paskyros? <a>Registracija</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import rules from "../mixins/rules";
export default {
  mixins: [rules],
  computed: mapGetters(["getError"]),
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    ...mapActions(["login"]),
    submit(e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.login({ email: this.email, password: this.password });
      }
    },
  },
};
</script>
