<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mainPage- ">
        <h1 class="mainPage-bigText mainPage-bigText_undo">
          Populiariausi skelbimai
        </h1>
        <div class="col-lg-12 advertisement-window_main">
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />
          <MainPageTopAd />

          <!-- <i class="fa fa-angle-left mainPage-arrow_left fa-5x color-white"></i>
          <i class="fa fa-angle-right mainPage-arrow_right "></i> -->
        </div>
        <a href="#" class="show-more">Rodyti daugiau</a>
      </div>

      <FlashBanner />

      <div class="col-lg-12 article-window_main">
        <h1 class="mainPage-bigText">Straipsniai</h1>
        <MainArticleBig />
        <div class="article-window_main_small">
          <MainArticleSmall />
          <MainArticleSmall />
          <MainArticleSmall />
          <MainArticleSmall />
        </div>
        <a href="#" class="show-more">Rodyti daugiau</a>
      </div>
      <FlashBanner />

      <div class="col-lg-12 video-window_main">
        <h1 class="mainPage-bigText">Video</h1>

        <div class="video-window_main_subwindow">
          <MainVideoBox />
          <MainVideoBox />
          <MainVideoBox />
        </div>

        <a href="#" class="show-more">Rodyti daugiau</a>
      </div>

      <FlashBanner />

      <h1 class="mainPage-bigText">Paslaugos</h1>
      <div class="col-lg-12 services-window_main">
        <MainServiceBox />
        <MainServiceBox />
        <MainServiceBox />
        <MainServiceBox />
      </div>
    </div>
    <a href="#" class="show-more">Rodyti daugiau</a>
  </div>
</template>

<script>
import MainPageTopAd from "../components/MainPageTopAd";
import MainArticleBig from "../components/MainArticleBig";
import MainArticleSmall from "../components/MainArticleSmall";
import MainServiceBox from "../components/MainServiceBox";
import MainVideoBox from "../components/MainVideoBox";
import FlashBanner from "../components/FlashBanner";
export default {
  name: "MainPage",
  components: {
    MainPageTopAd,
    MainArticleBig,
    MainArticleSmall,
    MainServiceBox,
    MainVideoBox,
    FlashBanner,
  },
};
</script>
