<template>
  <nav class="navigation_mobile">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
          <img class="webLogo" src="../assets/img/logo.svg" alt="Logotype" />
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-6 col-6">
          <div class="navigation_button">
            <v-btn class="formButton" type="submit">Įdėti skelbimą</v-btn>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
          <Slide :closeOnNavigation="true" right>
            <template v-if="user">
              <div class="navigation_links-mobile">
                <div class="mobile_profile">
                  <v-avatar color="orange" size="48" class="mr-3">
                    <span class="white--text headline">{{
                      user.Vardas[0]
                    }}</span>
                  </v-avatar>
                  <router-link style="font-weight: bold;" class="mt-0" to="/"
                    >Mano Paskyra</router-link
                  >
                </div>
                <p>SĄSKAITA (0.00 EUR)</p>
                <router-link class="aCap" to="/">
                  Isimintini skelbimai</router-link
                >
                <router-link class="aCap" to="/">
                  Mano skelbimai(3)</router-link
                >
                <a class="aCap" href="#" @click="disconnectUser">Atsijungti</a>
              </div>
            </template>
            <template v-if="!user">
              <div class="navigation_links-mobile">
                <router-link to="/">Prisijungti</router-link>
                <router-link to="/about">Registruotis</router-link>
              </div>
            </template>
          </Slide>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import loggedin from "../mixins/loggedin";
import { Slide } from "vue-burger-menu";
export default {
  name: "mobile",
  mixins: [loggedin],
  components: {
    Slide, // Register your component
  },
};
</script>
