<template>
  <nav class="navigation">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3" style="padding:0;">
            <img src="../assets/img/logo.svg" alt="Logotype" />
          </div>
          <div class="col-xl-7 col-lg-7">
            <div class="navigation_links">
              <template v-if="user">
                <v-avatar color="orange" size="48" class="mr-3">
                  <span class="white--text headline">{{ user.Vardas[0] }}</span>
                </v-avatar>
                <div class="navigation_link-myprofile">
                  <router-link class="mr-2" to="/vartotojas"
                    >Mano paskyra</router-link
                  >
                  <p>0.06 EUR</p>
                </div>
                (
                <a class="aCap" href="#" @click="disconnectUser">Atsijungti</a>
                )
                <span class="breaker">|</span>
                <router-link class="aCap" to="/">
                  Isimintini skelbimai</router-link
                >
                <span class="breaker">|</span>
                <router-link class="aCap" to="/asmeniniai">
                  Mano skelbimai({{ myPosts.length }})</router-link
                >
              </template>
              <template v-if="!user">
                <router-link to="/">Prisijungti</router-link>
                <span class="breaker">|</span>
                <router-link to="/about">Registruotis</router-link>
              </template>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2">
            <div class="navigation_button">
              <v-btn class="formButton" type="submit">Įdėti skelbimą</v-btn>
            </div>
          </div>
        </div>
        <div class="mainSearchBar">
          <input
            type="text"
            placeholder="ĮVESKITE PAIEŠKOS FRAZĘ ARBA ŽODĮ"
            v-model="query"
          />
          <div class="mainSearchBar-selection">
            <div class="mainSearchBar-selection_detailedSearch">
              <span class="breakerThree">|</span>
              <div class="mainSearchBar-selection_detailedSearch__subDiv">
                <p>DETALI PAIEŠKA</p>
                <i class="fa fa-caret-down"></i>
              </div>
              <span class="breakerThree">|</span>
            </div>
            <div class="mainSearchBar-selection_category">
              <p>Kategorija</p>
              <div class="arrowDown"></div>
            </div>
            <i class="fa fa-caret-down caretDown caretDown"></i>
            <div class="breakerTwo">|</div>
            <div class="mainSearchBar-selection_category">
              <p>Miestas</p>
            </div>
            <i class="fa fa-caret-down caretDown"></i>
            <span class="breakerTwo">|</span>
            <div class="mainSearchBar-selection_category">
              <p>Kaina</p>
            </div>
            <i class="fa fa-caret-down caretDown"></i>
            <div class="breakerTwo">|</div>
            <div class="mainSearchBar-Search_Btn search-Btn_Desktop">
              <button @click="goToPage">
                <i class="fa fa-search "></i>
                IEŠKOTI
              </button>
            </div>
            <div class="mainSearchBar-Search_Btn search-Btn_Mobile">
              <button>
                <i class="fa fa-search "></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import loggedin from "../mixins/loggedin";
import { mapActions, mapState } from "vuex";
export default {
  name: "navigation",
  data() {
    return {
      query: "",
    };
  },
  mixins: [loggedin],
  computed: {
    ...mapState({
      myPosts: (state) => state.modules.myPosts,
    }),
  },
  methods: {
    ...mapActions(["getMyPosts"]),
    goToPage() {
      this.$router.push(`paieska?query=${this.query}`);
    },
  },
  mounted() {
    this.getMyPosts();
  },
};
</script>

<style scoped>
.fa-caret-down {
  line-height: 2;
  font-size: 25px;
  height: 50px;
}
.fa-caret-down::before {
  color: #000;
}

.fa-search {
  color: #5b5b5b;
}
</style>
