<template>
  <div class="container-fluid register">
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title style="text-align: center" class="headline">
          Ar tikrai norite ištrinti skelbimą?
        </v-card-title>

        <v-card-text>
          Paspausdami mygtuką patvirtinti - ištrinsite savo skelbimą. Norint
          atšaukti spustelkit Atmesti.
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="deleteMyPost">
            Patvirtinti
          </v-btn>

          <v-btn color="green darken-1" text @click="dialog = false">
            Atmesti
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <div class="row">
      <div class="col-lg-12">
        <h1 class="h1Text_Personal">
          Mano skelbimai
        </h1>
        <div class="personalAds-searchBar">
          <input
            v-model="search"
            type="text"
            placeholder="ĮVESKITE PAIEŠKOS FRAZĘ ARBA ŽODĮ"
          />
          <div class="search-fill">
            <div class="personalAds-searchBtn">
              <a href="#"><i class="fa fa-search"></i>IEŠKOTI </a>
            </div>
          </div>
        </div>
        <div class="personalAds-active-pasive">
          <a href="#">Aktyvus skelbimai</a>
          <a href="#" class="personalAds-active-pasive_selected">
            Pasyvus skelbimai</a
          >
        </div>
        <div class="searchPage-adColumn" style="padding:0; margin-top:30px;">
          <div
            v-for="(myPost, key) in myPosts"
            v-if="myPost.name.match(search)"
            class="personalAds-box"
          >
            <div class="personalAds-box_topBox">
              <img
                :src="`http://185.34.52.113:1337${myPost.images[0].url}`"
                alt="picture"
              />
              <div class="personalAds-box_topBox_text">
                <router-link :to="`skelbimas/${myPost.id}`">{{
                  myPost.name
                }}</router-link>
                <p>
                  {{ myPost.description }}
                </p>
                <p>Įkelta: {{ myPost.created_at.slice(0, 10) }}</p>
              </div>

              <div class="personalAd-price-location">
                <p>{{ myPost.price }} €</p>
                <div>
                  <p>Lietuva,</p>
                  <p>Kaunas</p>
                </div>
              </div>
            </div>
            <div class="personalAds-box_lowerBox">
              <div class="personalAds-box_lowerBox__mobile__blackBox">
                <p>Skelbimo nustatymai</p>
                <i class="fa fa-caret-down"></i>
              </div>
              <ul>
                <li>
                  <i class="fa fa-star"></i>
                  <p>Iškelti skelbimą</p>
                </li>
                <div class="line"></div>
                <li @click="$router.push(`idetiskelbima?edit=${myPost.id}`)">
                  <i class="fa fa-cog"></i>
                  <p>Redaguoti skelbimą</p>
                </li>
                <div class="line"></div>
                <li @click="deletePost(myPost.id)">
                  <i class="fa fa-trash"></i>
                  <p>Pašalinti skelbimą</p>
                </li>
                <div class="line"></div>
                <li>
                  <i class="fa fa-eye"> </i>
                  <p>Rodyti pradiniame puslapyje</p>
                </li>
                <div class="line"></div>
                <li>
                  <i class="fa fa-history"></i>
                  <p>Pratesti galiojima</p>
                </li>
              </ul>
            </div>
            <div class="personalAds-extraInfo">
              <p>Parodytas: {{ myPost.amountViews }};</p>
              <p>Susidomėjo: 355;</p>
              <p>Aktyvus iki: 2021-12-14</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      search: "",
      dialog: false,
      deletePostId: "",
    };
  },
  computed: {
    ...mapState({
      myPosts: (state) => state.modules.myPosts,
    }),
  },
  methods: {
    ...mapActions(["getMyPosts", "removePost"]),
    async deletePost(id) {
      this.dialog = true;
      this.deletePostId = id;
    },
    async deleteMyPost() {
      await this.removePost(this.deletePostId);
      this.dialog = false;
      await this.getMyPosts();
    },
  },
  async mounted() {
    await this.getMyPosts();
  },
};
</script>

<style scoped>
ul li:hover {
  cursor: pointer !important;
}
.v-dialog__container {
  display: block !important;
}
</style>
