<template>
  <div class="container-fluid register">
    <div class="row">
      <div class="col-lg-12">
        <h1>Registracija</h1>
        <p>
          Laukeliai pazymeti ( <span class="error">*</span> ) - zvaigzdute, yra
          butini
        </p>
        <div class="register_choices-wrapper">
          <div class="register_choices">
            <p class="mb-0">Jūs esate:</p>
            <form>
              <div>
                <input
                  type="radio"
                  id="female"
                  name="gender"
                  value="female"
                  checked
                  @change="page = false"
                />
                <label for="female">Privatus asmuo</label>
              </div>
              <div>
                <input
                  @change="page = true"
                  type="radio"
                  id="other"
                  name="gender"
                  value="other"
                />
                <label for="other">Įmonė</label>
              </div>
            </form>
          </div>
        </div>
        <transition name="bounce">
          <RegisterUser v-if="!page" />
          <RegisterCompany v-if="page" />
        </transition>
      </div>
    </div>
  </div>
</template>

<script>
import uuid from "vue-uuid";

import RegisterUser from "../components/RegisterUser";
import RegisterCompany from "../components/RegisterCompany";
export default {
  components: {
    RegisterUser,
    RegisterCompany
  },
  data() {
    return {
      uuid: uuid,
      page: false
    };
  }
};
</script>
