<template>
  <div class="container-fluid ">
    <div class="row" style="margin-top:24px">
      <h1 class="h1Text_search">
        Baldai / Lauko baldai / Lauko kėdės
      </h1>
      <div class="flashBanner flashBanner-main">
        <a href="#"><img src="../assets/img/flashbanner.jpg" alt="Reklama"/></a>
      </div>

      <div class="col-lg-12 searchPage-main" style=" padding:0;">
        <div
          class="searchPage-mainSeachSide"
          style="margin-top:30px; padding:0;"
        >
          <div class="searchPage-searchBox">
            <p>AKTUALUMAS<i class="fa fa-caret-down"></i></p>
            <ul>
              <li>Populiariausi</li>
              <li>Naujausi</li>
            </ul>
            <p>TIPAS <i class="fa fa-caret-down"></i></p>
            <ul>
              <li>Skelbimai</li>
              <li>Video</li>
              <li>Paslaugos</li>
            </ul>
            <p>MIESTAS<i class="fa fa-caret-down"></i></p>
            <div class="searchPage-citiesBar">
              <input list="city" name="cities" placeholder=" Ieskoti" />
              <datalist class="searchPage-datalist" id="city">
                <option value="Vilnius"></option>
                <option value="Kaunas"></option>
                <option value="Siauliai"></option>
                <option value="Trakai"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
                <option value="Ukmerge"></option>
              </datalist>
            </div>
            <p>KAINA <i class="fa fa-caret-down"></i></p>
            <div class="seachPage-priceBar">
              <ul>
                <li>
                  0-10€
                </li>
                <li>(12)</li>
              </ul>
              <ul>
                <li>11-10€</li>
                <li>(12)</li>
              </ul>
              <ul>
                <li>101-1000€</li>
                <li>(12)</li>
                <li>Nuo <input type="text" /> iki <input type="text" /></li>
              </ul>
            </div>
            <div class="searchPage-searchBtn">
              <button>Ieskoti</button>
            </div>
          </div>
        </div>
        <div
          class="searchPage-adColumn"
          style="padding:10px 0 0 35px; margin-top:30px;"
        >
          <div v-for="post in filteredPosts" class="personalAds-box">
            <div class="personalAds-box_topBox">
              <img
                :src="`http://185.34.52.113:1337${post.images[0].url}`"
                alt="picture"
              />
              <div class="personalAds-box_topBox_text">
                <router-link :to="`skelbimas/${post.id}`">{{
                  post.name
                }}</router-link>
                <p>
                  {{ post.description }}
                </p>
                <p>Įkelta: {{ post.created_at.slice(0, 10) }}</p>
              </div>
              <i class="fa fa-star" @click="rimemberThePost(post.id)" />
              {{ rimember[post.id] }}
              <!-- <i class="far fa-star"> empty star</i> -->
              <div class="personalAd-price-location">
                <p>{{ post.price }} €</p>
                <div>
                  <p>Lietuva,</p>
                  <p>Kaunas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="searchPage-pageSelection col-lg-12">
        <ul>
          <!-- <li><i class="fa fa-angle-double-left"></i></li> -->
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li><i class="fa fa-angle-double-right"></i></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script></script>

<script>
import { mapActions, mapState } from "vuex";
export default {
  data() {
    return {
      rimember: {},
    };
  },
  watch: {
    $route() {
      console.log(true);
      this.searchWithQuery();
    },
  },
  name: "SeachPage",
  computed: {
    ...mapState({
      filteredPosts: (state) => state.modules.filteredPosts,
    }),
  },
  methods: {
    ...mapActions(["getFilteredPosts"]),
    async rimemberThePost(id) {
      this.rimember[id] = this.rimember[id] ? false : true;
    },
    async searchWithQuery() {
      if (this.$router.currentRoute.query) {
        await this.getFilteredPosts(this.$router.currentRoute.query.query);
      } else {
        await this.getFilteredPosts();
      }
    },
  },
  async mounted() {
    await this.searchWithQuery();
  },
};
</script>
<style scoped>
.show {
  display: unset;
}
.hide {
  display: none;
}
.p {
  color: red !important;
}
i {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
</style>
