<template>
  <div class="container post">
    <div class="row">
      <div class="col-lg-12">
        <transition name="drop">
          <v-banner
            two-line
            color="white"
            v-if="
              !getPost.confirmed && getPost.user.id === user.id && edit === true
            "
          >
            <v-avatar slot="icon" color="deep-purple accent-4" size="40">
              <v-icon icon="mdi-lock" color="salmon">
                mdi-lock
              </v-icon>
            </v-avatar>

            Skelbimas sukurtas. Peržvelkite dar kartą skelbimą ir tuomet
            nuspręskite ar norite jį koreguoti ar viešinti

            <template v-slot:actions>
              <v-btn text color="deep-purple accent-4" @click="accpet">
                Viešinti
              </v-btn>
              <v-btn text color="deep-purple accent-4" @click="editPost">
                Koreguoti
              </v-btn>
            </template>
          </v-banner>
        </transition>

        <h2 style="font-weight: 600">Baldai / Lauko baldai / Lauko kėdės</h2>
      </div>
    </div>
    <div id="printer">
      <div class="row">
        <div
          class="col-lg-12"
          style="display: flex;justify-content: space-between"
        >
          <h1 style="font-weight: 700">{{ getPost.name }}</h1>
          <h1 style="font-weight: 700">{{ getPost.price }} €</h1>
        </div>
        <div v-if="PRINT" class="PRINTFOTO">
          <img
            :src="
              `http://185.34.52.113:1337` + getPost.images[0].formats.large.url
            "
          />
        </div>
      </div>
      <div class="row">
        <div v-if="!PRINT" class="col-lg-12">
          <v-app>
            <v-carousel height="600" hide-delimiters>
              <v-carousel-item
                v-for="(item, i) in getPost.images"
                :key="i"
                :src="`http://185.34.52.113:1337` + item.formats.large.url"
              ></v-carousel-item>
            </v-carousel>
          </v-app>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <!-- APRASYMAS -->
          <h1 style="font-weight: 700">Aprasymas</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="post_description">
            <p v-if="getPost.description != undefined" class="big-text">
              {{
                more
                  ? getPost.description.substring(0, 1000)
                  : getPost.description
              }}
            </p>
            <div v-if="more" class="blocker">
              <v-btn
                v-if="!PRINT"
                @click="more = false"
                depressed
                large
                class="formButton"
              >
                Rodyti daugiau
              </v-btn>
            </div>
          </div>
          <div v-if="!PRINT" class="share">
            <div class="share-buttons">
              <i class="fa fa-share-alt"></i>
              <p>Dalintis</p>
              <div class="buttonDrop">
                <ShareNetwork
                  network="facebook"
                  :title="getPost.name + ' |' + getPost.price"
                  :description="getPost.description"
                  :url="urlPage"
                >
                  <div class="inlineButtons">
                    <i class="fa fa-facebook-f"></i>
                    Facebook
                  </div>
                </ShareNetwork>
                <ShareNetwork
                  network="VK"
                  :title="getPost.name + ' |' + getPost.price"
                  :description="getPost.description"
                  :url="urlPage"
                >
                  <div class="inlineButtons">
                    <i class="fa fa-vk"></i>
                    VK
                  </div>
                </ShareNetwork>
              </div>
            </div>
            <div @click="print" class="share-buttons">
              <i class="fa fa-print"></i>
              <p>Spausdinti</p>
            </div>
            <div class="share-buttons">
              <i class="fa fa-ban"></i>
              <p>Pranešti</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <v-divider></v-divider>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" style="border-right: 1px solid #E0E0E0">
        <div class="post_contacts">
          <h1 style="font-weight: 700" class="text-center">Kontaktai</h1>
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-5">
                <v-app id="inspire">
                  <div class="text-center">
                    <v-avatar height="100" width="100" tile color="orange">
                      <v-icon dark>{{ contact[0] }}</v-icon>
                    </v-avatar>
                  </div>
                </v-app>
                <p class="text-center">
                  {{ contact }}
                </p>
              </div>
              <div class="col-lg-7">
                <h2 v-if="getPost.user.CEO">
                  Kompanijos vadovas:
                  <span>{{ getPost.user.CEO }}</span>
                </h2>
                <h2 v-if="getPost.user.Phone">
                  Telefonas:
                  <span>{{ getPost.user.Phone }}</span>
                </h2>
                <h2 v-if="getPost.user.email">
                  El. paštas:
                  <span>{{ getPost.user.email }}</span>
                </h2>
                <h2 v-if="getPost.user.City">
                  Miestas:
                  <span>{{ getPost.user.City }}</span>
                </h2>
                <h2 v-if="getPost.user.Address">
                  Adresas:
                  <span>{{ getPost.user.Address }}</span>
                </h2>
                <v-btn @click="modalOpen" depressed large class="formButton">
                  <i class="fa fa-envelope"></i> Siusti zinute el-pastu
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <h1 style="font-weight: 700" class="text-center">
          Komentarai({{ getPost.comments.length }})
        </h1>
        <div class="container-fluid">
          <div class="row">
            <Comments
              v-if="getPost.comments"
              v-bind:comments="getPost.comments"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <v-divider></v-divider>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h1>Skelbimo vaizdo irasas</h1>
      </div>
      <div class="col-lg-12">
        <youtube :video-id="`x1yOGhnmYfI`"></youtube>
      </div>
    </div>
    <FormDialog
      header="Test"
      btn="Uždaryti"
      :emailTo="getPost.user.email"
      subject="Susidometa produktu"
      name="Interjero Galerija"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import company from "../mixins/company";
import Comments from "../components/Comments";
import FormDialog from "../components/FormDialog";
import rules from "../mixins/rules";
import loggedin from "../mixins/loggedin";
import router from "../router";
export default {
  name: "Skelbimas",
  mixins: [company, rules, loggedin],
  components: { Comments, FormDialog },
  data() {
    return {
      more: true,
      video: "",
      urlPage: "https://news.vuejs.org/issues/180",
      output: null,
      PRINT: false,
      params: { adaptive: true },
      postId: "",
      edit: true,
    };
  },
  methods: {
    ...mapActions(["getPosts", "confirmPost", "addViews"]),
    print() {
      // Pass the element id here
      this.PRINT = true;
      this.more = false;
      this.$htmlToPaper("printer");
      this.more = true;
      this.PRINT = false;
    },
    modalOpen() {
      this.$modal.show("form");
    },
    accpet() {
      this.confirmPost({ id: this.postId });
      this.edit = false;
    },
    editPost() {
      router.push("/idetiskelbima?edit=" + this.postId);
    },
  },
  computed: mapGetters(["getPost", "getError"]),
  created() {
    //this.urlPage = window.location.href;
  },
  async mounted() {
    await this.getPosts({ id: this.$route.params.id });

    if (this.getPost.Description !== undefined) {
      this.more = this.getPost.Description.length > 1000 ? true : false;
    }
    this.postId = this.$route.params.id;

    await this.addViews({ id: this.postId, views: this.getPost.amountViews });
  },
  updated() {
    this.getContact(this.getPost.user);
    this.video = `${new URL(this.getPost.Video).searchParams.get("v")}`;
  },
};
</script>
