<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <TreeView />
      </div>
      <div class="col-lg-8">
        <SkelbimasBlock></SkelbimasBlock>

        <div class="col-lg-12">
          <v-app id="inspire">
            <div class="text-center">
              <v-container>
                <v-row justify="center">
                  <v-col cols="8">
                    <v-container class="max-width">
                      <v-pagination
                        v-model="page"
                        class="my-4 paginationChange"
                        :pageClass="'page-item'"
                        :length="6"
                      ></v-pagination>
                    </v-container>
                  </v-col>
                </v-row>
              </v-container>
            </div>
          </v-app>
        </div>
      </div>
    </div>
  </div>
</template>

<style>
.v-application .primary {
  background-color: #000000 !important;
  border-color: #000000 !important;
}
</style>

<script>
import TreeView from "../components/TreeView";
import SkelbimasBlock from "../components/SkelbimasBlock.vue";
export default {
  components: { SkelbimasBlock, TreeView },
  name: "Skelbimai",
  data() {
    return {
      page: 1,
    };
  },
};
</script>
