<template>
  <div class="container">
    <div class="row">
      <h1 class="h1Text_Personal">Vartotojo paskyra ({{ getFullUser }})</h1>
      <h2 class="personalAmount">0.50 EUR</h2>
      <div class="col-lg-9 personal_Box">
        <v-form ref="form" class="form_FlexBox">
          <div class="personal_Left ">
            <v-text-field
              v-model="user.email"
              class="inputStyling personal_Input "
              type="text"
              solo
              placeholder="EL-Paštas"
              disabled
            />
            <v-text-field
              v-model="user.Phone"
              class="inputStyling personal_Input "
              type="text"
              solo
              placeholder="Telefono numeris"
            />
            <v-autocomplete
              :items="items"
              class="inputStyling personal_Input"
              placeholder="Miestas"
              solo
            ></v-autocomplete>

            <v-text-field
              v-model="message"
              class="inputStyling personal_Input "
              type="text"
              solo
              placeholder="Skype"
            />
          </div>
          <div class="personal_Right">
            <v-file-input
              label="Ikelti nuotraukas"
              class="personal_Image"
              outlined=""
              accept="image/*"
              prepend-icon="mdi-camera"
              v-model="image"
              counter
            >
            </v-file-input>
            <div class="personal_buttons">
              <v-btn class="formButton personal_Btn" @click="saveData"
                >Išsaugot</v-btn
              >
              <v-btn class="formButton personal_Btn-Secondary" type="submit"
                >Keisti slaptažodi</v-btn
              >
              <v-btn class="formButton personal_Btn-Secondary" type="submit"
                >Rašyti straipsnį</v-btn
              >
            </div>
          </div>
          <div class="personal_Right">
            <img
              style="height: 200px; width: 200px"
              src="https://i.stack.imgur.com/l60Hf.png"
            />
            <p style="text-align: center; margin-top: 10px;">
              Sveikas sugrįžęs
            </p>
          </div>
        </v-form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions, mapState } from "vuex";
import cities from "@/assets/miestai.json";
export default {
  name: "PersonalPage",
  data() {
    return {
      citiesFatched: [],
      city: "",
      image: "",
    };
  },
  computed: {
    ...mapGetters(["getFullUser"]),
    ...mapState({
      user: (state) => state.modules.user,
    }),
  },
  async mounted() {
    await cities.forEach((city) => {
      this.citiesFatched.push(city.name);
    });
  },
  methods: {
    saveData() {
      console.log(this.image);
    },
  },
};
</script>
