<template>
  <div class="asideBox">
    <a href="#"
      ><img src="../assets/img/tools.jpg" alt="Skelbimas" />
      <p>Sklypas nuomai 74ha</p>
      <p>Reklamos kontaktai</p></a
    >
  </div>
</template>

<script>
export default {
  name: "AsideBox",
};
</script>
