<template>
  <div class="commentsWidget">
    <ul style="scroll-behavior: smooth;" ref="scroll">
      <li v-for="comment in comm" v-bind:key="comment.id">
        <p>
          <span>{{ comment.Name }}:</span> {{ getDate(comment.created_at) }}
        </p>
        <p>{{ comment.Comment }}</p>
      </li>
    </ul>
    <v-form
      ref="form"
      lazy-validation
      @submit="submit"
      class="register_inputs mt-4"
      v-if="user"
    >
      <v-text-field
        v-model="Comment"
        class="inputStyling"
        type="text"
        placeholder="Žinutė"
        solo
        :rules="empty"
        required
      />
      <v-btn depressed large class="formButton" type="submit">
        Komentuoti
      </v-btn>
    </v-form>
    <div class="addComment mt-0 "></div>
  </div>
</template>

<script>
import rules from "../mixins/rules";
import { mapActions, mapGetters } from "vuex";
import company from "../mixins/company";
import Loggedin from "../mixins/loggedin";
export default {
  mixins: [rules, company, Loggedin],
  computed: mapGetters(["getUser"]),
  name: "Comments",
  data() {
    return {
      comm: [],
      write: false,
      Comment: ""
    };
  },
  methods: {
    ...mapActions(["comment"]),
    submit(e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.comment({
          Comment: this.Comment,
          Name: this.contact,
          id: this.$route.params.id
        });
        this.comm.unshift({
          Name: this.contact,
          Comment: this.Comment,
          created_at: `${new Date().getFullYear()}-${new Date().getMonth()}-${new Date().getDate()}`
        });
        this.Comment = "";
      }
    },
    getDate(date) {
      return `${new Date(date).getFullYear()}-${new Date(
        date
      ).getMonth()}-${new Date(date).getDate()}`;
    }
  },

  props: ["comments"],
  created() {
    this.getContact(this.getUser);
    this.comm = this.comments.reverse();
  }
};
</script>
