<template>
  <modal name="hello-world" maxWidth="290">
    <v-card>
      <v-card-title class="headline">{{ header }}</v-card-title>

      <v-card-text>
        {{ text }}
      </v-card-text>

      <v-card-actions>
        <v-btn class="formButton" text @click="close">
          {{ btn }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </modal>
</template>

<script>
export default {
  name: "Dialog",
  methods: {
    close() {
      this.$modal.hide("hello-world");
    }
  },
  props: ["header", "text", "btn"]
};
</script>
