<template>
  <div class="flashBanner-main">
    <a href="#"><img src="../assets/img/flashbanner.jpg" alt="Reklama"/></a>
  </div>
</template>

<script>
export default {
  name: "FlashBanner",
};
</script>
