<template>
  <modal name="form" :adaptive="true">
    <v-card>
      <v-card-title class="headline">Žinutė</v-card-title>

      <v-card-text>
        <v-form
          v-if="!sent"
          ref="form"
          @submit="submit"
          class="register_inputs"
        >
          <v-text-field
            v-model="email"
            class="inputStyling"
            type="text"
            solo
            placeholder="Jusu EL-Pašto adresas"
            required
            :rules="empty"
          />
          <v-textarea
            v-model="text"
            class="inputStyling adUpload_Input"
            type="text"
            rows="5"
            solo
            placeholder="Jūsų žinutė"
            requiredasd
            :rules="empty"
          >
          </v-textarea>
          <v-btn class="formButton" type="submit">Siųsti žinutę</v-btn>
        </v-form>
        <transition name="bounce">
          <h2 style="text-align: center" v-if="sent">
            Elektroninis laiškas buvo išsiųstas
          </h2>
        </transition>
      </v-card-text>

      <v-card-actions>
        <v-btn small class="formButton" text @click="close">
          {{ btn }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </modal>
</template>

<script>
import rules from "../mixins/rules";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      email: "",
      text: "",
      sent: false
    };
  },
  name: "FormDialog",
  mixins: [rules],
  methods: {
    ...mapActions(["emailSend"]),
    close() {
      this.$modal.hide("form");
    },
    submit(e) {
      e.preventDefault();

      let msg = `Jūs gavote žinutę nuo vieno iš vartotojo. <br> Elektroninis paštas į kurį galite jam atskyti: ${this.email}<br><br>${this.text}`;
      if (this.$refs.form.validate()) {
        this.emailSend({
          message: msg,
          emailTo: this.$props.emailTo,
          subject: this.$props.subject,
          name: this.$props.name
        }).then(() => {
          this.sent = true;
        });
      }
    }
  },
  props: ["header", "btn", "emailTo", "subject", "name"]
};
</script>
