<template>
  <div class="advertisement-item_main">
    <a href="#"
      ><img src="../assets/img/photo.jpg" alt="Skelbimo nuotrauka"
    /></a>
    <div class="advertisement-item_main_text">
      <div>
        <p>Miestas</p>
        <p>99.9 €</p>
      </div>
      <p>
        Skelbimo
        antraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštėantraštė
        antraštė
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "MainPageTopAd",
};
</script>
