<template>
  <div class="article-window_main_small_box">
    <a href="#">
      <img src="../assets/img/puppy.jpg" alt="mazas straipsnis" />
    </a>
    <a href="#">Antraštės pavadinimas</a>
    <p>Prieš 2 val.</p>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </p>
  </div>
</template>

<script>
export default {
  name: "MainArticleSmall",
};
</script>
