<template>
  <div class="services-window_main_box">
    <div class="services-window_main_img">
      <img src="../assets/img/services.jpg" alt="paslauga" />
    </div>
    <a href="#">Antraštės pavadinimas</a>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s.
    </p>
  </div>
</template>

<script>
export default {
  name: "MainServiceBox",
};
</script>
