<template>
  <iframe
    width="400px"
    height="225px"
    src="https://www.youtube.com/embed/DQT4dFgz1f8"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</template>

<script>
export default {
  name: "MainVideoBox",
};
</script>
