<template>
  <div class="personalAds-box">
    <div class="personalAds-box_topBox">
      <img src="../assets/img/big.jpg" alt="picture" />
      <div class="personalAds-box_topBox_text">
        <a href="#">Skelbimo pavadinimas arba antraštė</a>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.Lorem Ipsum is simply dummy text of
          the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown
          printer took a galley of type and scrambled it to make a type specimen
          book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was
          popularised in the 1960s with the release of Letraset sheets
          containing Lorem Ipsum passages, and more recently with desktop
          publishing software like Aldus PageMaker including versions of Lorem
          Ipsum.
        </p>
        <p>Įkelta: 2019-11-28</p>
      </div>

      <div class="personalAd-price-location">
        <p>724 €</p>
        <div>
          <p>Lietuva,</p>
          <p>Kaunas</p>
        </div>
      </div>
    </div>
    <div class="personalAds-box_lowerBox">
      <div class="personalAds-box_lowerBox__mobile__blackBox">
        <p>Skelbimo nustatymai</p>
        <i class="fa fa-caret-down"></i>
      </div>
      <ul>
        <li>
          <i class="fa fa-star"></i>
          <p>Iškelti skelbimą</p>
        </li>
        <div class="line"></div>
        <li>
          <i class="fa fa-cog"></i>
          <p>Redaguoti skelbimą</p>
        </li>
        <div class="line"></div>
        <li>
          <i class="fa fa-trash"></i>
          <p>Pašalinti skelbimą</p>
        </li>
        <div class="line"></div>
        <li>
          <i class="fa fa-eye"> </i>
          <p>Rodyti pradiniame puslapyje</p>
        </li>
        <div class="line"></div>
        <li>
          <i class="fa fa-history"></i>
          <p>Pratesti galiojima</p>
        </li>
      </ul>
    </div>
    <div class="personalAds-extraInfo">
      <p>Parodytas: 4500;</p>
      <p>Susidomėjo: 355;</p>
      <p>Aktyvus iki: 2021-12-14</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "SavedAd",
};
</script>
