<template>
  <v-form ref="form" @submit="submit" class="register_inputs">
    <v-text-field
      v-model="Companyname"
      class="inputStyling"
      type="text"
      placeholder="Imones vardas *"
      :rules="inputRules"
      required
      solo
    />
    <v-text-field
      v-model="CEO"
      class="inputStyling"
      type="text"
      placeholder="Atsakingas asmuo *"
      :rules="inputRules"
      required
      solo
    />
    <v-text-field
      v-model="Companycode"
      class="inputStyling"
      type="text"
      placeholder="Imones kodas *"
      :rules="inputRules"
      required
      solo
    />
    <v-text-field
      v-model="email"
      class="inputStyling"
      type="email"
      placeholder="El. pastas *"
      solo
      :rules="emailRules"
      required
    />
    <v-text-field
      v-model="Phone"
      class="inputStyling"
      type="text"
      solo
      placeholder="Telefono numeris"
    />
    <v-text-field
      v-model="Address"
      class="inputStyling"
      type="text"
      placeholder="Adresas"
      solo
    />
    <v-text-field
      v-model="City"
      class="inputStyling"
      type="text"
      placeholder="Miestas"
      solo
    />
    <v-text-field
      v-model="password"
      class="inputStyling"
      type="password"
      placeholder="Slaptazodis *"
      :rules="passwordRules"
      ref="password"
      required
      solo
    />
    <v-text-field
      class="inputStyling"
      type="password"
      placeholder="Pakartoti slaptazodi *"
      v-model="passwordre"
      :rules="match"
      ref="password"
      required
      solo
    />
    <transition name="bounce">
      <v-alert
        v-if="getError.length > 0"
        colored-border
        type="error"
        elevation="2"
      >
        {{ getError }}
      </v-alert>
    </transition>
    <v-btn depressed large class="formButton" type="submit">Registruotis</v-btn>
    <Dialog v-bind:header="header" v-bind:text="text" v-bind:btn="`Testi`" />
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import rules from "../mixins/rules";
import Dialog from "./Dialog";
export default {
  components: { Dialog },
  computed: mapGetters(["getError"]),
  mixins: [rules],
  data() {
    return {
      overlay: false,
      Companyname: "",
      CEO: "",
      Companycode: "",
      Phone: "",
      password: "",
      passwordre: "",
      email: "",
      Address: "",
      City: "",
      header: "Sekmingai prisiregistruota!",
      text:
        "Patvirtinkite savo elektronini pasta, su nuoroda kuria gavote elektroniniu pastu."
    };
  },
  name: "RegisterCompany",
  methods: {
    ...mapActions(["register"]),
    submit(e) {
      e.preventDefault();
      if (this.$refs.form.validate()) {
        this.register({
          email: this.email,
          password: this.password,
          Vardas: this.Companyname,
          Pavarde: this.CEO,
          Phone: this.Phone,
          Companycode: this.Companycode,
          Address: this.Address,
          City: this.City
        });
        setTimeout(() => {
          if (this.getError == "") {
            this.$modal.show("hello-world");
          } else {
            this.email = "";
          }
          this.overlay = false;
        }, 1000);
      }
    }
  }
};
</script>
