<template>
  <v-form ref="form" lazy-validation @submit="submit" class="register_inputs">
    <v-text-field
      v-model="Vardas"
      class="inputStyling"
      type="text"
      placeholder="Vardas *"
      solo
      :rules="inputRules"
      required
    ></v-text-field>
    <v-text-field
      v-model="Pavarde"
      class="inputStyling"
      type="text"
      placeholder="Pavardė"
      solo
    />
    <v-text-field
      v-model="email"
      class="inputStyling"
      type="email"
      placeholder="El. pastas *"
      solo
      :rules="emailRules"
      required
    />
    <v-text-field
      v-model="Phone"
      class="inputStyling"
      type="text"
      placeholder="Telefono numeris"
      solo
    />
    <v-text-field
      solo
      v-model="password"
      class="inputStyling"
      type="password"
      placeholder="Slaptazodis *"
      required
      :rules="passwordRules"
      ref="password"
    />
    <v-text-field
      solo
      class="inputStyling"
      type="password"
      placeholder="Pakartoti slaptazodi *"
      v-model="passwordre"
      required
      :rules="match"
    />
    <transition name="bounce">
      <v-alert
        v-if="getError.length > 0"
        colored-border
        type="error"
        elevation="2"
      >
        {{ getError }}
      </v-alert>
    </transition>
    <v-btn depressed large class="formButton" type="submit">
      Registruotis
    </v-btn>
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <Dialog v-bind:header="header" v-bind:text="text" v-bind:btn="`Testi`" />
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import rules from "../mixins/rules";
import Dialog from "./Dialog";

export default {
  mixins: [rules],
  computed: mapGetters(["getError"]),
  components: { Dialog },
  data() {
    return {
      overlay: false,
      Vardas: "",
      Pavarde: "",
      email: "",
      Phone: "",
      password: "",
      passwordre: "",
      header: "Sekmingai prisiregistruota!",
      text:
        "Patvirtinkite savo elektronini pasta, su nuoroda kuria gavote elektroniniu pastu."
    };
  },
  name: "RegisterUser",
  methods: {
    ...mapActions(["register"]),
    submit(e) {
      e.preventDefault();

      if (this.$refs.form.validate()) {
        this.overlay = true;
        this.register({
          email: this.email,
          password: this.password,
          Vardas: this.Vardas,
          Pavarde: this.Pavarde,
          Phone: this.Phone
        });

        setTimeout(() => {
          if (this.getError == "") {
            this.$modal.show("hello-world");
          } else {
            this.email = "";
          }
          this.overlay = false;
        }, 1000);
      }
    }
  }
};
</script>
