<template>
  <div class="skelbimai_block">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <div class="skelbimai_block-pictureHolder">
            <div class="skelbimai-picture"></div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="skelbimai_block-wrapper">
            <div class="skelbimai_block-header">
              <h1>Skelbimo pavadinimas arba antraštė</h1>
            </div>
            <div class="skelbimai_block-aprasymas">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                nobis similique deserunt sint ex ad facere cumque pariatur
                labore maxime.
              </p>
            </div>
            <div class="skelbimai_block-date">
              <p>Įkelta: 2019-11-28</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12">
          <div class="skelbimai_block-wrapper">
            <div class="skelbimai_block-rimember">
              <i class="fa fa-bookmark"></i>
            </div>
            <div class="priceandcity">
              <div class="skelbimai_block-price">
                <p>724 €</p>
              </div>
              <div class="skelbimai_block-city">
                <p>Kaunas</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SkelbimasBlock",
};
</script>
