<template>
  <div class="TreeView">
    <ul>
      <div>
        <li @click="openNext">Aktualumas <i class="fa fa-angle-down"></i></li>
        <div class="openBox">
          <form>
            <input type="radio" id="female" name="gender" value="Popular" />
            <label for="female">Populeriausi</label><br />
            <input type="radio" id="other" name="gender" value="New" />
            <label for="other">Naujausi</label>
          </form>
        </div>
      </div>

      <v-divider></v-divider>

      <div>
        <li @click="openNext">Kategorijos <i class="fa fa-angle-down"></i></li>
        <div class="openBox">
          <form>
            <input type="radio" id="female" name="gender" value="Popular" />
            <label for="female">Populeriausi</label><br />
            <input type="radio" id="other" name="gender" value="New" />
            <label for="other">Naujausi</label>
          </form>
        </div>
      </div>

      <v-divider></v-divider>

      <div>
        <li @click="openNext">Miestas <i class="fa fa-angle-down"></i></li>
        <div class="openBox">
          <form>
            <input type="radio" id="female" name="gender" value="Popular" />
            <label for="female">Populeriausi</label><br />
            <input type="radio" id="other" name="gender" value="New" />
            <label for="other">Naujausi</label>
          </form>
        </div>
      </div>

      <v-divider></v-divider>

      <div>
        <li @click="openNext">Kaina <i class="fa fa-angle-down"></i></li>
        <div class="openBox">
          <form>
            <input type="radio" id="female" name="gender" value="Popular" />
            <label for="female">0-100 eur</label><br />
            <input type="radio" id="other" name="gender" value="New" />
            <label for="other">100-300 eur</label><br />
            <input type="radio" id="price" name="price" value="price" />
            <label for="price">300-...... eur</label>
          </form>
          <label style="margin: 0">Nuo</label>
          <input type="text" /> <br />
          <label style="margin: 0; margin-top: 10px">Iki</label>
          <input style="margin-top: 10px" type="text" />
        </div>
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TreeView",
  methods: {
    openNext(e) {
      if (e.target.nextSibling.classList.contains("openTree")) {
        e.target.nextSibling.classList.remove("openTree");
      } else e.target.nextSibling.classList.add("openTree");
    },
  },
};
</script>
