.inputStyling {
  color: $inputColor;

  border-radius: 7px;
  color: $inputColor;

  border: none;
  border-radius: 7px;
  max-width: 420px;
  min-width: 320px;

  .v-input__slot {
    background-color: $secondary !important;
  }
  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $inputColor;
    opacity: 1; /* Firefox */
  }
  &:focus {
    outline: none;
  }
}
.formButton {
  border: none;
  background-color: $primary !important;
  color: $dColor !important;
  border-radius: 7px;
  transition: all 0.7s;
  width: auto !important;
  text-transform: capitalize !important;
  height: 50px !important;
  &:hover {
    background-color: lighten($primary, 30%);
  }
  span {
    font-size: $btn !important;
  }
  i {
    padding-right: 5px;
  }
}
.v--modal-overlay .v--modal-box {
  left: 50% !important;
  transform: translate(-50%, 0) !important;
  height: auto !important;
  .v-input {
    width: 100% !important;
  }
  .v-card__actions {
    display: flex !important;
    justify-content: center !important;
  }
  .formButton {
    margin-top: 0 !important;
  }
  .inputStyling {
    width: 100% !important;
  }
}

.orange {
  background-color: orange !important;
  color: white;
  font-weight: bold;
}
.aCap a,
.aCap {
  text-transform: capitalize !important;
}

.big-text {
  letter-spacing: 0.32px;
  word-break: normal !important;
}

.commentsWidget {
  width: 100%;

  .register_inputs {
    padding: 0 12px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .inputStyling {
      width: 100%;
    }
    .v-messages__message {
      color: salmon !important;
    }
  }
  .addComment {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  ul {
    list-style: none;
    min-height: auto !important;
    max-height: 320px;
    width: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0;

    li {
      width: 100%;
      padding: 5px 10px;
      &:nth-child(2n) {
        background-color: #f3f3f3;
      }
      p {
        margin: 0;
        span {
          font-weight: bold;
        }
      }
    }
  }
}
.pictureUploadWrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.pictureUpload {
  width: calc((100% / 4) - 10px);
  &:nth-child(2n) {
    margin-left: 10px;
    margin-right: 10px;
  }
  input {
    display: none;
  }
  .deleteImage {
    background-color: red;
    height: 28px;
    width: 28px;
    position: absolute;
    right: 0;
    top: 0;
    border-bottom-left-radius: 50%;
  }
  label {
    border-radius: 7px;
    display: block;
    width: 100%;
    height: 130px;
    background-color: $secondary;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;

    p {
      margin-bottom: 3px;
    }
    .deleteImage {
      display: none;
    }
  }
  .activePicture {
    background: white;
    border: 1px solid $primary;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: center;
    cursor: default;

    p {
      display: none;
    }
    img {
      display: none;
    }
    .deleteImage {
      display: flex;
      justify-content: center;
      cursor: pointer;
      img {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .pictureUpload {
    width: calc((100% / 2) - 5px);
    &:nth-child(2n) {
      margin-left: 10px;
      margin-right: 0px;
    }
  }
}

.v-banner__wrapper {
  border-bottom-color: salmon !important;
}
.v-banner__actions {
  align-self: flex-start !important;
}
.v-banner__text {
  color: salmon;
  font-size: 18px;
}
.v-banner__content {
  i {
    color: salmon !important;
  }
}
.v-banner {
  padding-bottom: 30px;
}
