$h1: 30px;
$h2: 25px;
$p: 18px;
$input: 15px;
$btn: 15px;

h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
p {
  font-size: $p;
}
a {
  font-size: $p;
}
input {
  font-size: $input;
}
button {
  font-size: $btn;
}
span {
  font-size: $p;
}
.error {
  font-size: 18px;
  color: $error;
}
