@media screen and (max-width: 768px) {
  .register_choices {
    width: 50%;
    display: block;
    p {
      text-align: left;
    }
    form {
      flex-wrap: wrap;

      width: 100%;
      div:nth-child(1) {
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .register_choices form {
    display: block;
  }
  form input {
    width: 70%;
  }
}
@media screen and (max-width: 510px) {
  form input {
    width: 90%;
  }
}
