@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
}
li {
  list-style-type: none;
}

/* ***********Registration************** */

.register {
  text-align: center;
  .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)
    > .v-input__control
    > .v-input__slot {
    box-shadow: none !important;
  }
  .v-messages__message {
    color: salmon !important;
  }
  a {
    text-decoration: underline;
    &:hover {
      cursor: pointer;
    }
  }
  .register_choices-wrapper {
    display: flex;
    justify-content: center;
    .register_choices {
      max-width: 420px;
      min-width: 320px;
      display: flex;
      flex-wrap: wrap;
      p {
        width: 100%;
      }
      p,
      input,
      form {
        display: inline;
      }
      form {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      input:hover {
        cursor: pointer;
      }
      label {
        margin-left: 6px;
      }
    }
  }
  .register_inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    .v-alert {
      margin-bottom: 0 !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .register .register_inputs input,
  .register .register_choices-wrapper .register_choices {
    width: 70%;
  }
  .inputStyling {
    width: 70% !important;
  }
}
@media screen and (max-width: 600px) {
  .register .register_inputs input,
  .register .register_choices-wrapper .register_choices {
    width: 75%;
  }
  .inputStyling {
    width: 75% !important;
  }
}
@media screen and (max-width: 510px) {
  .register .register_inputs input,
  .register .register_choices-wrapper .register_choices {
    width: 85%;
  }
  .inputStyling {
    width: 85% !important;
  }
}
@media screen and (max-width: 440px) {
  .register .register_choices-wrapper .register_choices {
    display: block;
  }
  .register .register_choices-wrapper .register_choices p {
    text-align: left;
  }
  .register_choices .ml-5 {
    margin-left: 0 !important;
  }
  .register .register_choices-wrapper .register_choices form {
    width: 100%;
  }
}
/* ******************************** */

/* **************Prisijungimas****************** */

/* ***********FOOTER************** */

.footerBox {
  font-size: $p;
  text-align: left;
}

.footerIcons {
  display: flex;
  justify-content: flex-end;

  & a {
    width: 35px;
    margin-left: 10px;
  }
}
.footerLinks {
  display: flex;
  justify-content: flex-end;
  & p {
    margin: 0 2px;
  }
}

@media screen and (max-width: 1024px) {
  .footerBox {
    text-align: center;
    .footerLeft {
      padding-bottom: 0px;
    }
  }
  .footerIcons {
    justify-content: center;
  }

  .footerLinks {
    display: flex;
    justify-content: center;
  }
}

/* **************NAVIGATIOn****************** */
.navigation {
  .breaker {
    margin: 0 10px;
  }
  .navigation_links {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    a {
      color: black;
      text-transform: uppercase;
    }
    .navigation_link-myprofile {
      margin-top: 1.7%;
      a {
        text-transform: capitalize;
      }
      p {
        margin-bottom: 0;
        text-align: center;
        color: #0a7029;
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
  .navigation_button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    .formButton {
      .v-btn__content {
        text-transform: capitalize !important;
      }
    }
  }
}
.navigation_mobile {
  .navigation_button {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navigation_links-mobile {
    display: block;
    .mobile_profile {
      display: flex;
      align-items: center;
      width: 100%;
    }
    a,
    p {
      margin-top: 10px;
      color: white;
      text-align: center;
      width: 100%;
      display: block;
      text-transform: uppercase !important;
    }
  }
}
@media screen and (max-width: 577px) {
  .navigation_mobile {
    .webLogo {
      height: 39px;
    }
    .navigation_button {
      .v-btn:not(.v-btn--round).v-size--default {
        height: 39px !important;
        padding: 0 8px;
      }
    }
    .bm-burger-button {
      top: 18px;
    }
  }
}
@media screen and (max-width: 380px) {
  .navigation_mobile {
    .navigation_button {
      justify-content: flex-start;
    }
  }
}

/* **************Skelbimas****************** */
.post {
  .v-application {
    height: 600px;
  }
  &_contacts {
    .v-application {
      height: auto;
      .v-application--wrap {
        height: auto;
        min-height: auto !important;
      }
    }
  }
}
.post_description {
  position: relative;
}
.blocker {
  position: absolute;
  height: 40%;
  width: 100%;
  background-color: white;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(255, 255, 255, 1) 30%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* **************AD UPLOAD PAGE****************** */

.h1Text {
  text-align: center;
  margin-bottom: 20px;
}

.adUpload_Box {
  margin: 0 auto;
  width: 100% !important;
  padding: 0 !important;
}

.adUpload_Image {
  border: 1px solid $secondary;
  padding: 20px 10px 0 0 !important;
  margin-bottom: 10px !important;
  width: 180px;
}

.adUpload_Btn {
  width: 100% !important;
}

.userAgreement {
  text-align: center;
  & a {
    text-decoration: underline;
    margin-left: 5px;
    font-size: $input;
  }
}

@media screen and (max-width: 770px) {
  .adUpload_Input {
    width: 100% !important;
  }
}
.navigation_mobile {
  .navigation_button {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navigation_links-mobile {
    display: block;
    .mobile_profile {
      display: flex;
      align-items: center;
      width: 100%;
    }
    a,
    p {
      margin-top: 10px;
      color: white;
      text-align: center;
      width: 100%;
      display: block;
      text-transform: uppercase !important;
    }
  }
}
@media screen and (max-width: 577px) {
  .navigation_mobile {
    .webLogo {
      height: 39px;
    }
    .navigation_button {
      .v-btn:not(.v-btn--round).v-size--default {
        height: 39px !important;
        padding: 0 8px;
      }
    }
    .bm-burger-button {
      top: 18px;
    }
  }
}
@media screen and (max-width: 380px) {
  .navigation_mobile {
    .navigation_button {
      justify-content: flex-start;
    }
  }
}

/* ************** USER PERSONAL PAGE ****************** */

.h1Text_Personal {
  text-align: center;
  margin: 0;
  width: 100%;
}
.personalAmount {
  text-align: center;
  margin: 0 auto 20px auto;
  color: #0a7029;
  width: 100%;
}

.personal_Box {
  margin: 0 auto;
  padding: 0 !important;
}

.form_FlexBox {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: 0 auto;
}
.personal_Input {
  width: 100% !important;
  max-width: 100% !important;
}
.personal_Right {
  max-width: 180px;
  margin-left: 30px;
}

.personal_buttons {
  margin-top: 20px;
}
.personal_Btn {
  width: 100% !important;
  margin-bottom: 10px;
}
.personal_Btn-Secondary {
  background: #fff !important;
  color: #000 !important;
  border: solid #000 1px;
  width: 100% !important;
  margin-bottom: 10px;
}
@media screen and (max-width: 770px) {
  .form_FlexBox {
    flex-direction: column;
  }
  .personal_Right {
    max-width: unset;
    width: 320px !important;
    margin: 0 auto;
  }
  .personal_Left {
    margin: 0 auto;
  }
}

.share {
  display: flex;
  justify-content: flex-end;
  &-buttons {
    display: flex;
    background-color: #000000;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    position: relative;
    transition: all 0.3s;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    &:not(:last-child) {
      margin-right: 33px;
    }
    &:hover {
      cursor: pointer;
      background-color: lighten(#000000, 10%);
      .buttonDrop {
        display: block;
      }
    }
    p {
      position: absolute;
      bottom: -40px;
      color: #000000;
      font-size: 12px;
    }
    .buttonDrop {
      position: relative;
      top: 0;
      z-index: 100;
      right: 28px;
      display: none;
      padding: 10px;
      background-color: #f3f3f3;
      color: #000000;
      a:hover {
        background-color: darken(#f3f3f3, 10%);
      }
      .inlineButtons {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #f3f3f3;
        &:hover {
          border-bottom: 1px solid #000000;
        }
        i {
          margin-right: 3px;
        }
      }
    }
  }
}

/* ************** MAIN PAGE ****************** */

.mainPage- {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.flashBanner-main {
  width: 100%;
  max-height: 160px;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

.show-more {
  display: inline-block;
  height: 60px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
}

//Popular ads start

.mainPage-bigText {
  margin-top: 35px;
  font-weight: 700;
}
.mainPage-bigText_undo {
  margin-top: 0;
}

.advertisement-window_main {
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: auto;
  overflow: hidden;
  max-height: 555px;

  p {
    margin: 0;
  }
}

.advertisement-item_main {
  max-width: 300px;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

.advertisement-item_main_text {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  :nth-child(1) {
    font-weight: 900;
    display: flex;
    justify-content: space-between;
  }

  :nth-child(2) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.mainPage-arrow_left {
  nav-index: 10;
  position: absolute;
  top: 40%;
}
// Popular ads end

// Articles main page start

.article-window_main {
  padding: 0 !important;
  & a {
    font-weight: 600;
  }
}

.article-window_main_big {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  img {
    max-width: 450px;
    max-height: 450px;
    overflow: hidden;
    object-fit: cover;
  }

  & a {
    font-size: 25px;
  }
  & p:nth-child(2) {
    font-weight: 300;
    opacity: 90%;
  }
}
.article-window_main_big_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto 0 auto 20px;
  overflow: hidden;
  max-height: 300px;

  & p {
    font-size: 18px;
  }
}

.article-window_main_small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;

  & p:nth-child(3) {
    font-weight: 300;
    opacity: 90%;
  }
}

.article-window_main_small_box {
  display: flex;
  flex-direction: column;
  max-height: 330px;
  max-width: 310px;
  overflow: hidden;
  & img {
    width: 100%;
  }
}

// Video start

.video-window_main {
  margin-bottom: 30px;
}
.video-window_main_subwindow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 225px;
  iframe {
    margin-bottom: 50px;
  }
}

// Video end

/*********************************/

// Services start

.services-window_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: row;
  overflow: hidden;
  max-height: 420px;
}
.services-window_main_box {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding-right: 20px;
  :nth-child(2) {
    margin: 5px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
  }
}
.services-window_main_img {
  width: 400px;
  height: 265px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

// Main page media Queries

@media only screen and (max-width: 1905px) {
  .advertisement-window_main {
    max-height: 510px;
  }
  .advertisement-item_main {
    max-width: 270px;
  }
  .article-window_main_small {
    overflow: hidden;
    max-height: 330px;
  }
  .article-window_main_small_box {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    overflow: hidden;
    margin-bottom: 50px;
    & img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1270px) {
  .advertisement-window_main {
    max-height: 630px;
  }
  .advertisement-item_main {
    max-width: unset;
    width: 100%;
  }
}

@media only screen and (max-width: 1263px) {
  .advertisement-window_main {
    max-height: 490px;
  }
  .advertisement-item_main {
    max-width: unset;
    width: 100%;
  }
  .video-window_main_subwindow {
    max-height: 370px;
    iframe {
      width: 100%;
      height: 370px;
    }
  }

  .services-window_main {
    max-height: 535px;
  }
  .services-window_main_box {
    max-width: unset;
    width: 100%;
    height: unset;
    padding: 0;
  }

  .services-window_main_img {
    width: 100%;
    height: unset;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 992px) {
  .advertisement-window_main {
    max-height: 650px;
  }
  .services-window_main {
    max-height: 680px;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 959px) {
  .advertisement-window_main {
    max-height: 530px;
  }
  .services-window_main {
    max-height: 560px;
  }
  .article-window_main_small {
    display: none;
  }
  .article-window_main_big {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    img {
      width: 100%;
      max-width: 696px;
    }
  }
  .article-window_main_big_text {
    margin: 0;
    margin-top: 5px;
    p {
      max-height: 50px;
      overflow: hidden;
    }
  }
  .video-window_main {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 769px) {
  .advertisement-window_main {
    max-height: 400px;
  }
  .services-window_main {
    max-height: 410px;
  }
  .advertisement-item_main {
    margin-bottom: 100px;
  }
  .services-window_main_box {
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 669px) {
  .advertisement-window_main {
    max-height: 420px;
  }
  .services-window_main {
    max-height: 470px;
  }
}
@media only screen and (max-width: 540px) {
  .advertisement-window_main {
    max-height: 390px;
  }
  .services-window_main {
    max-height: 450px;
  }
}
@media only screen and (max-width: 500px) {
  .advertisement-window_main {
    max-height: 365px;
  }
  .services-window_main {
    max-height: 400px;
  }
}
@media only screen and (max-width: 460px) {
  .advertisement-window_main {
    max-height: 340px;
  }
  .services-window_main {
    max-height: 380px;
  }
}

@media only screen and (max-width: 420px) {
  .advertisement-window_main {
    max-height: 310px;
  }
  .services-window_main {
    max-height: 340px;
  }
}
@media only screen and (max-width: 400px) {
  .advertisement-window_main {
    max-height: 285px;
  }
  .services-window_main {
    max-height: 340px;
  }
}

//****** Personal ads page*******//

// Search Bar
.personalAds-searchBar {
  background: $secondary;
  height: 50px;
  width: 100%;
  border-radius: 7px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  input {
    width: 100%;
    padding-left: 3%;
    outline: 0;
    z-index: -1;
  }

  a {
    font-size: 15px;
    font-weight: 900;
    text-decoration: none;
    color: $icons;
    z-index: 10;
    i {
      margin-right: 10px;
    }
  }
  .personalAds-searchBtn {
    position: absolute;
    bottom: 13px;
    right: 3%;
  }
}
.fa-search {
  right: 3%;
  bottom: 10px;
  font-size: 20px;
}
.search-fill {
  background: $secondary;
  z-index: 22;
  width: 45%;
}

// Active-passive buttons

.personalAds-active-pasive {
  border: 1px solid #000;
  height: 50px;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  line-height: 1.9;

  a {
    width: 50%;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
  }

  .personalAds-active-pasive_selected {
    background: #000;
    color: white;
  }
}

// Ad Box
.searchPage-adColumn {
  & :nth-child(1n + 4) {
    background: rgb(255, 255, 255);
  }
}

.personalAds-box {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 15px;
  // box-shadow:0px 3px 6px 0px #00000023;
  border-radius: 7px;
  background: #f7f7f7;
}
.personalAds-box_topBox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: relative;

  img {
    max-width: 240px;
    max-height: 134px;
    margin-right: 15px;
  }
}

.personalAds-box_topBox_text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  a {
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 22px;
    max-width: 400px;
  }
  :nth-child(2) {
    font-size: 14px;
    max-height: 60px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    margin: 5px 0;
    color: $lColor;
  }
  :nth-child(3) {
    text-align: left;
    margin: 0;
    font-size: 12px;
  }
}

.personalAd-price-location {
  right: 15px;
  bottom: 15px;
  margin-left: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: inherit !important;
  :nth-child(1) {
    font-weight: 800;
    margin: 0;
    text-align: right;
  }
  :nth-child(2) {
    margin: 0;
    :nth-child(1) {
      margin-right: 2px;
      font-weight: 400;
      font-size: 15px;
    }
    display: flex;
    font-size: 15px;
    font-weight: 400;
  }
}

.favorite-star {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #ffc107;
}
.personalAds-box_lowerBox {
  background: #fff;
  padding-top: 10px;
  border-radius: 7px;
  ul {
    display: flex;
    justify-content: space-around;
    background: #000;
    color: #fff;
    padding: 12px 5px;
    border-radius: 7px;
    height: 45px;
  }
  li {
    background: inherit !important;
    margin: 0;
    display: flex;
  }
  i {
    padding-right: 10px;
    font-size: 25px;
    font-weight: 100;
    line-height: 0.9;
  }
  p {
    font-size: 13px;
    line-height: 1.7;
    margin: 0;
    width: 100%;
    height: 25px;
    overflow: hidden;
  }
}
.line {
  border: 0.5px solid #fff;
  margin-right: 0px;
}
.personalAds-extraInfo {
  display: flex;
  background: #fff;
  color: #ec3a3b;
  border-bottom: 2px solid $lines;
  padding-bottom: 5px;
  p {
    margin: 0 10px 0 0;
    font-size: 15px;
  }
}

@media screen and (max-width: 1265px) {
  .line {
    margin-right: 10px;
  }
  .personalAds-box_lowerBox {
    i {
      margin: 0;
    }
    li {
      :nth-child(1) {
        margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .line {
    margin-right: 0px;
  }
}
@media screen and (max-width: 959px) {
  .line {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) {
  .personalAds-box_lowerBox__mobile__blackBox {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .personalAds-box {
    margin-bottom: 30px;
  }
  .personalAds-box_topBox {
    padding: 0px;
    img {
      display: none;
    }
  }
  .personalAds-box_topBox_text {
    padding: 10px 5px;
    :nth-child(3) {
      margin-top: 5px;
    }
  }
  .personalAds-active-pasive {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  // .personalAds-box_lowerBox {
  //   color: #fff;
  //   ul {
  //     margin: 0;
  //   }
  //   li {
  //     background: #242424 !important;
  //     display: flex;
  //   }
  //   i {
  // width: 30px;
  // height: 30px;
  // font-size: 30px;
  // padding: 6px;
  // padding-left: 15px;
  // margin-right: 25px;
  //   }
  //   p {
  //     margin: 0;
  //     line-height: 2.45;
  //     font-weight: 300;
  //   }
  // }

  .personalAds-box_lowerBox {
    ul {
      display: flex;
      flex-direction: column;
      height: unset;
      margin: 0;
      border-radius: 0;
      background: #242424;
      padding: 10px 0 0px 0;
      li {
        text-align: left;
        padding: 5px 0;
      }
      i {
        width: 30px;
        height: 30px;
        font-size: 30px;
        padding: 21px;
        padding-left: 15px;
        margin-right: 25px;
        line-height: 0;
      }
      p {
        height: 100%;
        margin: 0;
        line-height: 3.2;
        font-weight: 300;
      }
    }
  }

  .personalAds-extraInfo {
    margin: 0;
    padding-top: 10px;
  }
  .personalAd-price-location {
    margin: 0 5px 10px 0;
  }
  .personalAds-box_lowerBox__mobile__blackBox {
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    i {
      line-height: 2.2;
    }
    p {
      height: unset;
      margin-left: 15px;
      font-weight: 400;
      font-size: 18px;
      text-align: left;
      padding: 15px 0px;
    }
  }
}

//****** Ads search page*******//
.searchPage-main {
  display: flex;
  justify-content: space-between;
}

.searchPage-searchBox {
  max-width: 150px;
  text-align: left;
  li {
    list-style-type: none;
  }
  p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-top: 1px solid $lines;
    width: 100%;
    display: flex;
    justify-content: space-between;
    :hover {
      cursor: pointer !important;
    }
    i {
      font-size: 23px;
      margin-left: 5px;
    }
  }
  :nth-child(1) {
    border: none;
  }
  ul {
    margin-bottom: 10px;
  }
}

.searchPage-searchBox_price {
  display: flex;
  flex-direction: column;
  ul {
    display: flex;
    margin: 0;

    :nth-child(2) {
      color: $inputColor;
      font-size: 14px;
      margin-left: 5px;
      line-height: 1.7;
    }
  }
}

.searchPage-pageSelection {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  ul {
    display: flex;
    :hover {
      background: #000;
      color: #fff;
      cursor: pointer;
    }
  }
  li {
    list-style-type: none;
    border: solid 2.5px #000;
    padding: 5px 12px;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
  }
}
.searchPage-citiesBar {
  margin-bottom: 10px;
  input {
    border: 1px solid $lines !important;
    border-radius: 3px;
    max-width: 150px;
  }
  input::placeholder {
    color: $primary;
  }
}
.seachPage-priceBar {
  ul {
    display: flex;
    flex-wrap: wrap;
    :nth-last-child(1) {
      input {
        max-width: 40px;
        border: $icons 1px solid;
        border-radius: 3px;
        margin-top: 10px;
      }
    }
    :nth-child(2) {
      margin-left: 5px;
      color: $icons;
    }
  }
}
.searchPage-searchBtn {
  width: 100%;
  margin-top: 20px;
  button {
    font-weight: 600;
    color: $dColor;
    margin: 0 auto;
    background: $primary;
    width: 100%;
    height: 35px;
    border-radius: 5px;
  }
}

.searchPage-mainSeachSide_mobile {
  display: none;
}

@media screen and (max-width: 1263px) {
  .searchPage-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .searchPage-mainSeachSide {
    width: 100%;
    display: flex;
    flex-direction: row !important;
  }
  .searchPage-searchBox {
    width: 100%;
    max-width: unset;
  }
  .searchPage-adColumn {
    padding-left: 0 !important;
  }
  .seachPage-priceBar {
    ul {
      max-width: 200px;
    }
  }
}

// Media queries

@media screen and (max-width: 1905px) {
}

//****** Navigation search bar*******//

.mainSearchBar {
  display: flex;
  background: $secondary;
  justify-content: space-between;
  border-radius: 7px;
  margin-top: 20px;
  height: 50px;
  z-index: 20;
  input {
    width: 50%;
    background: inherit;
    padding-left: 20px;
    border-radius: 7px;
    outline: none;
  }
  .mainSearchBar-Search_Btn {
    display: flex;
    justify-content: space-around;
    background: inherit;
    width: 100%;
    max-width: 150px;
    min-width: 107px;
    border-radius: 7px;
    outline: none;
    font-weight: 500;
    color: $icons;
    :hover {
      cursor: pointer;
    }
  }
}

.mainSearchBar-selection {
  display: flex;
  width: 50%;
  justify-content: space-between;
  border-radius: 7px;
  max-width: 600px;
  ul {
    display: flex;
    flex-direction: column;
    background: $secondary;
    border-radius: 0 0px 3px 3px;
    max-height: 200px;
    height: auto;
    overflow: scroll;
  }
  p {
    margin: 0;
    line-height: 2.8;
  }
  ul::-webkit-scrollbar {
    display: none;
  }
}
.mainSearchBar-selection_category {
  position: relative;
  :hover {
    cursor: pointer;
  }
  ul {
    position: absolute;
    left: -10px;
    z-index: 20;
    width: auto;

    li {
      margin-top: 10px;
      text-align: center;
      width: 100%;
      padding: 0 20px;
    }
    li:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.breakerTwo {
  line-height: 2.4;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 300;
}
.fa-angle-down {
  position: absolute;
  bottom: -10px;
  left: 45%;
  font-size: 25px;
}
.mainSearchBar-Ulprice {
  background: $secondary !important;
  padding: 5px;

  input {
    height: 25px;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
  }
}
.mainSearchBar-Ulcategory {
  right: -35px;
}

.mainSearchBar-Ulprice_btn {
  color: #ffffff;
  font-weight: 400;
  width: 100%;
  border-radius: 3px;
  text-align: center;
  background: #000;
  padding: 3px;
  margin-top: 5px;
  button {
    outline: none;
  }
}

@media screen and (max-width: 1390px) {
  .mainSearchBar-selection {
    ul {
      left: -15px;
    }
  }

  .mainSearchBar-selection {
    width: 60%;
    button {
      max-width: 150px;
    }
  }

  .mainSearchBar-Ulprice {
    left: 5px !important;
    width: 75px !important;
  }
  .fa-caret-down {
    margin: 0 5px;
  }
}
@media screen and (min-width: 991px) {
  .mainSearchBar-selection_category,
  .fa-caret-down,
  .breakerTwo {
    display: unset;
  }
  .breakerThree {
    display: none;
  }
  .search-Btn_Mobile {
    display: none !important;
  }
  .mainSearchBar-selection {
    justify-content: flex-end;
  }
  .mainSearchBar-selection_detailedSearch {
    display: none;
  }
  .caretDown {
    margin: 0 5px;
  }
}

@media screen and (max-width: 991px) {
  .search-Btn_Desktop {
    display: none !important;
    button {
      max-width: inherit;
    }
  }
  .mainSearchBar-selection {
    width: 50%;
    overflow: hidden;
  }
  .mainSearchBar {
    input {
      width: 50%;
    }
  }
  .mainSearchBar-Search_Btn {
    max-width: 50px !important;
    min-width: 30px !important;
    .button {
      overflow: hidden;
      outline: none;
    }
  }
  .mainSearchBar-selection_detailedSearch {
    font-size: 500;
    display: flex;
    color: $icons;
    p {
      font-size: 16px;
      font-family: unset;
      line-height: 3.15;
    }
  }
  .mainSearchBar-selection_detailedSearch__subDiv {
    width: 145px;
    display: flex;
  }
  .mainSearchBar-selection_category,
  .caretDown,
  .breakerTwo {
    display: none;
  }
  .mainSearchBar-selection {
    justify-content: flex-end;
  }
  .breakerThree {
    line-height: 1.6;
    padding: 0 5px;
    font-size: 30px;
    font-weight: 300;
    color: $icons;
  }
}
@media screen and (max-width: 430px) {
  .mainSearchBar-selection {
    width: 70%;
  }
  .mainSearchBar {
    input {
      width: 30%;
    }
  }
}

//****** Aside *******//

.asideContainer {
  width: 100%;
  border-left: 1px solid $lines;
  margin-top: 68px;
  height: 98%;
}
.asideSubContainer {
  width: 90%;
  float: right;
  height: 100%;
}

.asideBox {
  width: 100%;
  max-width: 230px;
  min-height: 170px;
  margin-bottom: 30px;
  :nth-child(2) {
    font-weight: 500;
  }
  p {
    margin: 0;
    font-size: 15px;
  }
  a {
  }
  img {
    width: 100%;
    margin-bottom: 5px;
  }
}
