<template>
  <div id="app">
    <Mobile v-if="!width" />
    <Navigation v-if="width" />

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <router-view />
        </div>
        <div class="col-lg-3">
          <Aside />
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<style lang="scss">
@import "./assets/styles/scss/index.scss";
</style>
<script>
import Footer from "./views/Footer";
import Navigation from "./views/Navigation";
import Mobile from "./views/MobileNavigation";
import Aside from "./views/Aside";

export default {
  components: {
    Footer,
    Navigation,
    Mobile,
    Aside,
  },
  data() {
    return {
      width: window.innerWidth >= 1264 ? true : false,
    };
  },
};
</script>
